#contenedor{
    height: 700px;
    width: 1000px;
    background-color: #F3F381;
}
#encabezado{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
#encabezadosec{
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#texto{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    padding: 20px 20px;
    margin: 20px;
}
input{
    display: block;
    padding: 100px;

}
button{
    border: none;
    padding: .5rem 2rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #1c1c1c;
    cursor: pointer;
}
button:hover{
    background-color: #595454;
}

select{
    cursor: pointer;
    padding: .5rem 2rem;
    border-radius: 5px;
    color: #1c1c1c;
    font-weight: bold;
    border-radius: 6px;
    margin-left: -30PX;
    margin-top: -10PX;
}
select:hover{
    background-color: #d8d3d3;
}
input{
    border-radius: 4px;
    font-weight: bold;
    padding: .1rem .05rem;
}
.encabezado {
    height:120px ;
    background-color:#1c1c1c;
    padding:  0 50px;
    
}
#pie {
    height:50px ;
    background-color:#1c1c1c;
    padding:  0 50px;
    color: white;
    
}
.cal {
    height:28px ;
    width: 150px;
    background-color:#7a767687;
    padding:  0 10px;
    color: white;
    border-radius: 5px;
}