/* Estilos generales para el cuerpo y el centro de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para la sección de la calculadora */
section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

span {
    font-size: 24px;
    font-weight: bold;
}

/* Estilos para etiquetas y entradas de texto */
label {
    font-weight: bold;
    margin: 10px 0;
    display: block;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Estilos para botones */
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 5px;
    cursor: pointer;
}

#btnLimpiar {
    background-color: #dc3545;
}

/* Estilos para el botón "Calcular" */
#btnCalcular:hover {
    background-color: #0056b3;
}

/* Estilos para el botón "Limpiar" */
#btnLimpiar:hover {
    background-color: #c82333;
}

/* Estilos para la respuesta */
#txtRes {
    font-weight: bold;
    font-size: 18px;
    color: #28a745;
    margin-top: 10px;
}
