body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 9%;
    display: flex;
}

.calculadora{
    flex: 1;
    padding: 30px;
    max-width: 470px;
    text-align: justify;
}

.imagen{
    flex: 1;
    background-image: url('/img/IMC/01H.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    max-width: 230px;
}

.input-radio{
    padding: 8px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 24px;
}

.input-group {
    margin: 15px 0;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;

}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;

}

button {
    display: block;
    width: 100%;
    background-color: #0858f7;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6793f3;
}

.result {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 15px 0;
    color: #333;
}