body {
    background-color: #F5F5DC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor {
    width: 1000px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}

.cajillas {
    display: flex;
}

.caja {
    width: 100px;
    border: 1px solid black;
    flex: 1;
    margin: 2em;
    border-radius: 5px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caja label {
    display: block;
    font-weight: bold;
}

#num {
    margin: 40px 0px;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    text-align: center;
}

#generados {
    margin: 40px 0px;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    text-align: center;
}

.footer {
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}

button {
    width: 250px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F5F5DC;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #D3D3D3;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
}

