img{
    height: 100px;
}
.t1{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(5,auto);
}
.t2{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(5,auto);
}
.t3{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(5,auto);
}
.t4{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(5,auto);
}
.t5{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(5,auto);
}
.t6{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(5,auto);
}
.t7{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(5,auto);
}
.t8{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(5,auto);
}
.t9{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(5,auto);
}
.t10{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(5,auto);
}